@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');



/* neste arquivo, faremos TODAS as REGRAS CSS necessárias para a formatação do site. */




body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../imagens/fundo01.jpg);
    background-attachment: fixed;

}


/* Desafio: apliqueas seguintes propriedades:
-borda em todos os lados na cor que quiser 
-sombra (na cor que quiser) no bloco virada para dentro
-coloque o texto no meio 
-letras maiusculas */

h1 {
    color: white;
    font-family: oswald; 
    background-color: grey;
    padding: 10px;
    border-radius: 8px;
    box-shadow: black 0 0 10px inset;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    text-align: center;
    text-transform: uppercase;
    /* para fazer a borda não é necessário fazer todos esses tipos de borda, pois são para modificações mais especificas. Sendo assim, utilize a tag "border" */


    animation-name: caindo;
    animation-duration: 2s;
    box-shadow: red 3px 3px 10px;
    -webkit-text-stroke: 1px red;


}



#container {

    background-color:#d6d6d6af;
    width: 80%;
    max-width: 800px;
    min-width: 500px;

    margin: auto;
    box-shadow: black 0 0 5px;
    padding: 16px;
    border-radius: 8px;

}



h2 {

font-size: 20px;
border-bottom: solid 5px;
border-left: dashed 5px;
padding-left: 15px;
border-right: dashed 5px;
border-top: solid 5px;
display: inline-block; 
padding: 5px;


/*caso queira colocar uma borda apenas em volta das letras use a propriedade "display: inline-block". Como foi mostrado no exemplo.*/  

}

/* Grupo de seletores: ]
selecionar as tags que queira modificar colocando-as em sequencia separadas por vígula, como mostra o exemplo a seguir */

h3, p, figcaption {

    font-family: Georgia, 'Times New Roman', Times, serif;

}


h3 {
    padding: 25px;
    border-radius: 8px;
    background: linear-gradient(
        45deg,
        grey, 
        black,
        white)


}


.destaque {

    background-color:white;
    padding: 3px;
    color: blue;
    border-radius: 4px;
}


/* Reset/limpeza */

figure {
    margin: 0;
    text-align: center;
}

/* tornando as imagens "responsivas" */

img  {
    max-width: 100%;
}

/* Seletor descendente */

p a {
    color: red;
}


ul {
    color:brown;
    line-height: 32px;
    list-style-type: square;

}


/* Seletor PSEUDO-ELEMENTO 
(usa 2 vezes os dois pontos ::) */
li::marker {

    content: "💚 ";

}


/* Regras para o menu */

nav {
    text-align: center;
}

/* Regra para o estado inicial do link */
nav a {
    text-decoration: none;
    font-weight: bold;
    color:darkblue;
    width: 50%;
    display: inline-block;
    padding: 10px;
    background-color: grey;

    /* Alterando o Box Model fazendo com que Padding e border não dê B.O  nas dimenções finais do elemento */
    box-sizing: border-box;

    border: black solid 1px;

    font-size: 25px;

   
    }
    
    /* Seletor pseudo-classe :first-child */

nav a:first-child{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

}

nav a:last-child{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;

}
    





/* Regra para o estado do link adicionado 
Pseudo-classe :hover (passar o mouse)   */

nav a:hover, nav a:focus {
    background-color: black;
    color: white;


}


figure img {
    filter: grayscale();
     clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%); 
    transition: 0.5s;
    transform: scale(0.8);
}


figure img:hover { 
     clip-path: polygon(0 0, 50% 8%, 100% 0, 100% 51%, 100% 100%, 50% 92%, 0 100%);
    filter: none;
    transform: scale(1) /*rotate(360deg);*/

}


/* Regras de animação */

@keyframes caindo {
    /* Como começa: */
    from {transform: translateY(-100px); }
    /* como termina: */
    to { transform: translateY(0)}
    opacity: 0;
}




/* Pseudo-classe child:
:first-child
:last-child
:nth-child() */

li:first-child { color: red;}
li:last-child { color: blue;}
li:nth-child(3) {color:green;}






